{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<h2>Register</h2>
<form method="POST">
  <label>Username:</label><input type="text" name="username"><br>
  <label>Email:</label><input type="email" name="email"><br>
  <label>Password:</label><input type="password" name="password"><br>
   <label for="currency">Preferred Currency:</label>
<select name="currency" id="currency" required>
  <option value="" disabled selected>Select your currency</option>
  <option value="USD">USD ($)</option>
  <option value="KES">KES (KSh)</option>
  <option value="EUR">EUR (€)</option>
  <option value="GBP">GBP (£)</option>
</select>
  <button type="submit">Sign up</button>
</form>
<p>Already have an account? <a href="{{ url_for('routes.login') }}">Log in</a></p>
{% endblock %}